.featureSection {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding: 80px 20px;
  flex-wrap: wrap;
  color: #e5e7eb;
   background-image: url("/Images/back3R.png");
   /* url("/Images/BackImage.png"); */
  background-color: cover;
  background-position: center;
  overflow: hidden; /* ensures pseudo-element doesn't overflow */
}

.featureSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/Images/back3R.png");
  background-color: cover;
  background-position: center;
  opacity: 0.95;
  z-index: 0;
}

.featureSection > * {
  position: relative;
  z-index: 1;
}


/* Layout */
.left {
  flex: 1 1 400px;
  max-width: 600px;
}

.right {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image */
.imageWrapper {
  width: 100%;
  max-width: 500px;
  background: linear-gradient(135deg, #f3f4f5, #f6f6f9);
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.imageWrapper img {
  width: 100%;
  border-radius: 16px;
}

/* Accordion */
.accordionItem {
  background: #020617;
  border: 1px solid #1e293b;
  margin-bottom: 14px;
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordionItem:hover {
  border-color: #38bdf8;
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.15);
}

.accordionHeader {
  width: 100%;
  padding: 18px 22px;
  font-size: 16px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  color: #f8fafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordionContent {
  padding: 0 22px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.accordionContent p {
  margin: 12px 0 20px;
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5f5;
}

.icon {
  font-size: 14px;
  color: #38bdf8;
}

/* Responsive */
@media (max-width: 992px) {
  .featureSection {
    flex-direction: column-reverse;
    align-items: center;
  }

  .right {
    margin-bottom: 40px;
  }
}
