.wrapper {
  height: 200vh; /* SCROLL SPACE */
  position: relative;
}

.black,
.pink {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.black {
  background: #020617;
  color: white;
  z-index: 2;
}

.pink {
  background: #ec4899;
  color: white;
  z-index: 1;
}
