.navbar {
  background: linear-gradient(90deg, #041c2c, #05293d);
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  animation: slideDown 0.8s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.logo h1 {
  font-size: 20px;
  letter-spacing: 2px;
}

.logo small {
  font-size: 10px;
  opacity: 0.7;
}

.icon {
  width: 28px;
  height: 28px;
  background: white;
  clip-path: polygon(40% 0, 100% 0, 60% 100%, 0 100%);
}

/* LINKS */
.navLinks {
  display: flex;
  gap: 32px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.3s ease;
}

.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.4s ease;
}

.navLinks a:hover::after {
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background: white;
  transition: 0.4s;
}

.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.open span:nth-child(2) {
  opacity: 0;
}
.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* MOBILE */
@media (max-width: 768px) {
  .navLinks {
    position: absolute;
    top: 70px;
    right: 0;
    background: #05293d;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    transform: translateY(-150%);
    transition: transform 0.5s ease;
  }

  .active {
    transform: translateY(0);
  }

  .hamburger {
    display: flex;
  }
}
